
{{counter}}
{{answer}}
{{myArray | json}}
<div [ngSwitch]="counter">
  <div *ngSwitchCase="1">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz 1</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[1]" [(ngModel)]="myArray[1]" value="brazil" > <span>Brazil</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[1]" [(ngModel)]="myArray[1]" value="Germany"> <span>Germany</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[1]" [(ngModel)]="myArray[1]" value="Indonesia"> <span>Indonesia</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[1]" [(ngModel)]="myArray[1]" value="Russia"> <span>Russia</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button  class="btn btn-primary d-flex align-items-center btn-danger" ></button><button *ngIf="myArray[1].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(1)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="2">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">With which does the power to extend or restrict the jurisdiction of the High Court rest?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[2]" [(ngModel)]="myArray[2]" value=" With the Parliament "> <span> With the Parliament </span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[2]" [(ngModel)]="myArray[2]" value="With the Legislative"> <span>With the Legislative</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[2]" [(ngModel)]="myArray[2]" value="With the Council of Minister"> <span> With the Council of Minister</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[2]" [(ngModel)]="myArray[2]" value="With the Rajya Sabha"> <span>With the Rajya Sabha</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(2)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[2].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(2)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>







<div [ngSwitch]="counter">
  <div *ngSwitchCase="3">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Which rocks is transformed into marble?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[3]" [(ngModel)]="myArray[3]" value="Limestone"> <span>Limestone</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[3]" [(ngModel)]="myArray[3]" value="Black stone"> <span>Black stone</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[3]" [(ngModel)]="myArray[3]" value="Red stone"> <span>Red stone</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[3]" [(ngModel)]="myArray[3]" value="Grenite"> <span>Grenite</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(3)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[3].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(3)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>



<div [ngSwitch]="counter">
  <div *ngSwitchCase="4">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Which ‘Englishmen was fellow of Gandhiji in South Africa?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[4]" [(ngModel)]="myArray[4]" value="John delton"> <span>John delton</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[4]" [(ngModel)]="myArray[4]" value="Washington"> <span>Washington</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[4]" [(ngModel)]="myArray[4]" value="Polak"> <span>Polak</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[4]" [(ngModel)]="myArray[4]" value="Trumph"> <span>Trumph</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(4)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[4].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(4)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>







<div [ngSwitch]="counter">
  <div *ngSwitchCase="5">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Due to bite of mad dog the disease hydrophobia is caused by which virus??</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[5]" [(ngModel)]="myArray[5]" value="Dengue"> <span>Dengue</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[5]" [(ngModel)]="myArray[5]" value="Chinkengunia"> <span>Chinkengunia</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[5]" [(ngModel)]="myArray[5]" value="Rabies virus"> <span>Rabies virus</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[5]" [(ngModel)]="myArray[5]" value="Cancer"> <span>Cancer</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(5)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[5].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(5)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>




<div [ngSwitch]="counter">
  <div *ngSwitchCase="6">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Who appoints the Chief Election Commissioner of India?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[6]" [(ngModel)]="myArray[6]" value="Prime Minister"> <span>Prime Minister</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[6]" [(ngModel)]="myArray[6]" value="Deputy Minister"> <span>Deputy Minister</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[6]" [(ngModel)]="myArray[6]" value="President"> <span>President</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[6]" [(ngModel)]="myArray[6]" value=" Chief Minister"> <span> Chief Minister</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(6)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[6].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(6)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="7">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">First human heart transplant operation conducted by Dr. Christian Bernard on Louis Washkansky, was conducted in</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[7]" [(ngModel)]="myArray[7]" value="1958"> <span>1958</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[7]" [(ngModel)]="myArray[7]" value="1922"> <span>1922</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[7]" [(ngModel)]="myArray[7]" value="1967"> <span>1967</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[7]" [(ngModel)]="myArray[7]" value="1968"> <span>1968</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(7)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[7].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(7)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>







<div [ngSwitch]="counter">
  <div *ngSwitchCase="8">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Famous sculptures depicting art of love built some time in 950 AD – 1050 AD are</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[8]" [(ngModel)]="myArray[8]" value="Konark Temple"> <span>Konark Temple</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[8]" [(ngModel)]="myArray[8]" value="Khajuraho temples"> <span>Khajuraho temples</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[8]" [(ngModel)]="myArray[8]" value="Mahabalipuram temples"> <span>Mahabalipuram temples</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[8]" [(ngModel)]="myArray[8]" value="Sun temple"> <span>Sun temple</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(8)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[8].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(8)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="9">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Which is the religion for which the Fire temple is the place of worship?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[9]" [(ngModel)]="myArray[9]" value="Hinduism"> <span>Hinduism</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[9]" [(ngModel)]="myArray[9]" value="Jainism"> <span>Jainism</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[9]" [(ngModel)]="myArray[9]" value="Zoroastrianism"> <span>Zoroastrianism</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[9]" [(ngModel)]="myArray[9]" value="Buddhism"> <span>Buddhism</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(9)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[9].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(9)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="10">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Where can Coral reefs be found in India?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[10]" [(ngModel)]="myArray[10]" value="The Malabar Coast"> <span>The Malabar Coast</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[10]" [(ngModel)]="myArray[10]" value="Rameshwaram"> <span>Rameshwaram</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[10]" [(ngModel)]="myArray[10]" value="Trivandrum"> <span>Trivandrum</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[10]" [(ngModel)]="myArray[10]" value="Mahabalipuram"> <span>Mahabalipuram</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(10)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[10].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(10)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="11">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">The United Nations Organization has its Headquarters at</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[11]" [(ngModel)]="myArray[11]" value="Bali"> <span>Bali</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[11]" [(ngModel)]="myArray[11]" value="Hague"> <span>Hague</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[11]" [(ngModel)]="myArray[11]" value="New York, USA"> <span>New York, USA</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[11]" [(ngModel)]="myArray[11]" value="Washington DC"> <span>Washington DC</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(11)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[11].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(11)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>



<div [ngSwitch]="counter">
  <div *ngSwitchCase="12">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Objects at the surface of water can be viewed from a submarine under water by using this instrument.</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[12]" [(ngModel)]="myArray[12]" value="Stethescope"> <span>Stethescope</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[12]" [(ngModel)]="myArray[12]" value="Periscope"> <span>Periscope</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[12]" [(ngModel)]="myArray[12]" value="Kaleidoscope"> <span>Kaleidoscope</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[12]" [(ngModel)]="myArray[12]" value="Telescope"> <span>Telescope</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(12)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[12].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(12)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="13">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Which of the following musical instruments is played by Amjad Ali Khan?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[13]" [(ngModel)]="myArray[13]" value="Veena"> <span>Veena</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[13]" [(ngModel)]="myArray[13]" value="Tabla"> <span>Tabla</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[13]" [(ngModel)]="myArray[13]" value="Sarod"> <span>Sarod</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[13]" [(ngModel)]="myArray[13]" value="Guitar"> <span>Guitar</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(13)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[13].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(13)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="14">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">Who created the famous Rock Garden of Chandigarh?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[14]" [(ngModel)]="myArray[14]" value="Gaudi"> <span>Gaudi</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[14]" [(ngModel)]="myArray[14]" value="Saarinen"> <span>Saarinen</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[14]" [(ngModel)]="myArray[14]" value="Krishnarao Jaisim"> <span>Krishnarao Jaisim</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[14]" [(ngModel)]="myArray[14]" value="Nek Chand"> <span>Nek Chand</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(14)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[14].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="next(14)" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>






<div [ngSwitch]="counter">
  <div *ngSwitchCase="15">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
          <div class="col-md-10 col-lg-10">
              <div class="border">
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row justify-content-between align-items-center mcq">
                          <h4>MCQ Quiz {{counter}}</h4><span>({{counter}} of 15)</span></div>
                  </div>
                  <div class="question bg-white p-3 border-bottom">
                      <div class="d-flex flex-row align-items-center question-title">
                          <h3 class="text-danger">Q.</h3>
                          <h5 class="mt-1 ml-2">NASA’s most famous space telescope goes by the name?</h5>
                      </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[15]" [(ngModel)]="myArray[15]" value=" Muble Satellite Telescope"> <span> Muble Satellite Telescope</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[15]" [(ngModel)]="myArray[15]" value="Hubble Space Telescope"> <span>Hubble Space Telescope</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[15]" [(ngModel)]="myArray[15]" value="Humble Space Telescope"> <span>Humble Space Telescope</span>
    </label>
    </div><div class="ans ml-2">
    <label class="radio"> <input type="radio" name="myArray[15]" [(ngModel)]="myArray[15]" value="Galaxy Satellite Telescope"> <span>Galaxy Satellite Telescope</span>
    </label>
    </div></div>
                  <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" (click)="previous(15)" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button *ngIf="myArray[15].length>0" class="btn btn-primary border-success align-items-center btn-success" (click)="finalAnswer(15)"  type="button">Submit<i class="fa fa-angle-right ml-2"></i></button></div>
              </div>
          </div>
      </div>
  </div>
</div>




</div>
